div {
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.thick-groove {
  border: thick groove black;
}

.medium-groove {
  border: medium groove black;
}

.thin-groove {
  border: thin groove black;
}

.thin-red-inset {
  border: thin inset red;
}

.medium-blue-outset {
  border: medium outset blue;
}
